
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;  
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
} */

/* .heading {
    margin: 100px;
    padding: -100px;
    font-size: 6rem;
    text-align: center;
    margin: 5rem 0;
} */

.skills-matrix {
  padding: 80px 12%;
  background: #0f172a;
}

.section-title {
    text-align: center;
    margin: 100px;
    padding: -100px;
    font-style: italic;
  font-size: 46px;
  color: #ffffff;
  margin-bottom: 50px;
}

.skill-row {
  display: grid;
  grid-template-columns: 1.8fr 3fr;
  align-items: center;
  margin-bottom: 22px;
}

.skill-row span {
  font-size: 18px;
  color: #eaeaea;
}

.bar {
  background-color: #222;
  height: 12px;
  border-radius: 10px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: linear-gradient(90deg, #00f0ff, #00c4ff);
  border-radius: 10px;
}
